{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for d in details %}
<section class="text-gray-700 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Property Details</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{d.name}}</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          <!--<a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Reviews</a>
          <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a>-->
        </div>
        <p class="leading-relaxed mb-4">{{d.street}}, {{d.city}}, {{d.state}} {{d.zipcode}}</p>
        <div class="flex border-t border-gray-300 py-2">
          <span class="text-gray-500">Location</span>
          <span class="ml-auto text-gray-900">{{d.location}}</span>
        </div>
        <div class="flex border-t border-gray-300 py-2">
          <span class="text-gray-500">Bedrooms</span>
          <span class="ml-auto text-gray-900">{{d.BDS}}</span>&emsp;&emsp; |&emsp;&emsp;
          <span class="text-gray-500">Bathrooms</span>
          <span class="ml-auto text-gray-900">{{d.BA}}</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-300 py-2">
          <span class="text-gray-500">Type</span>
          <span class="ml-auto text-gray-900">{{d.type}}</span>
        </div>
        <!--<div class="flex border-t border-b mb-6 border-gray-300 py-2">-->
        {% for c in d.contacts.all %}
        <div class="flex mb-6 border-gray-300">
          <span class="text-gray-500">Agent</span>
          <span class="ml-auto text-gray-900">{{c.agentFname}} {{c.agentLname}}</span>
        </div>
        <div class="flex mb-6 border-gray-300">
          <span class="text-gray-500">Call</span>
          <span class="ml-auto text-gray-900">{{c.contactNum}}</span>&emsp;
          <span class="text-gray-500">EMAIL</span>
          <span class="ml-auto text-indigo-500"><a href="{% url 'email' c.emailAddr %}">{{c.emailAddr}}</a></span>
        </div>
        {% endfor %}
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900">{% if d.purpose == "RENT" %} ${{d.price}}/mo {% else %} ${{d.price}} {% endif %}</span>
          <!--<button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
              <path d="M 20.84 4.61 a 5.5 5.5 0 0 0 -7.78 0 L 12 5.67 l -1.06 -1.06 a 5.5 5.5 0 0 0 -7.78 7.78 l 1.06 1.06 L 12 21.23 l 7.78 -7.78 l 1.06 -1.06 a 5.5 5.5 0 0 0 0 -7.78 Z" />
            </svg>
          </button>-->
        </div>
      </div>
      <img class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" alt="ecommerce" src={{ d.images.url }}>
    </div>
  </div>
</section>
{% endfor %}

{% endblock content %}